@font-face {
    font-family: 'Rubik';
    src:url(fonts/Rubik-Medium.ttf);
}

* {
    margin:0 !important;
    padding:0 !important;
}

.wysokosc {
    height: 90vh !important;
}

body {
    font-family: 'Rubik';
    text-align: center;
}